<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增光子版本信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-message-add">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">是否显示公告 0否 1是：</label>
                    <div class="col-sm-8">
                        <input name="isShow" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">公告内容：</label>
                    <div class="col-sm-8">
                        <input name="Info" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/message"
        $("#form-message-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-message-add').serialize());
            }
        }
    </script>
</body>
</html>